{% extends "bootstrap.html" %}
{% block content %}
	<table>	
		<tr>
			<th>C</th>
			<th>PG</th>
			<th>SG</th>
			<th>G</th>
			<th>PF</th>
			<th>SF</th>
			<th>F</th>
			<th>Util</th>
		</tr>
		{% for roster in nba.getRosters() %}
			<tr>
				<td>{{ nba.getPlayer( roster.pos_c ).name }}</td>
				<td>{{ nba.getPlayer( roster.pos_pg ).name }}</td>
				<td>{{ nba.getPlayer( roster.pos_sg ).name }}</td>
				<td>{{ nba.getPlayer( roster.pos_g ).name }}</td>
				<td>{{ nba.getPlayer( roster.pos_pf ).name }}</td>
				<td>{{ nba.getPlayer( roster.pos_sf ).name }}</td>
				<td>{{ nba.getPlayer( roster.pos_f ).name }}</td>
				<td>{{ nba.getPlayer( roster.pos_util ).name }}</td>
				<td><a href="/deleteRoster/{{ roster.id }}" class="btn primary-btn">Delete</a></td>
				<td><a href="/analyzeRoster/{{ roster.id }}" class="btn primary-btn">Analyze</a></td>
			</tr>
		{% endfor %}
	</table>
{% endblock %}
